.contact-page {
    font-family: Arial, sans-serif;
}

.contact-hero {
    /* background: linear-gradient(to right, #007bff, #6610f2); */
    color: white;
    padding: 50px 0;
}

.contact-hero p {
    font-size: 1.2rem;
    margin-top: 10px;
}

Header{
    padding: 50px;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    text-align: center;
    line-height: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
